
@*//GENERATED CODE BY VISUAL STUDIO
*@
@model IEnumerable<WebApplicationMVC.Models.Projects>

@{
    ViewData["Title"] = "Featured Projects";
}

<h1 class = "projectHeader">@ViewData["Title"]</h1>

<p>
    <a class = "btn-primary" asp-action="Create" >Add new project</a>
</p>


<div class = "projectsText">
    @foreach(var item in Model){
    }
    </div>


    <div class = "projectsText">

@foreach (var item in Model) {
            <h2 >
                @Html.DisplayFor(modelItem => item.ProjectName)
            </h2>
            <hr/>

            <h3>Tools</h3>
    <ul>
        <li>JavaScript</li>
        <li>React JS</li>
        <li>HTML</li>
         <li>CSS</li>
         <li>Firebase</li>
    </ul>
            <p>
                @Html.DisplayFor(modelItem => item.Description)
            </p>

         <h4>Source Code</h4>

            <a href = "@Html.DisplayFor(modelItem => item.URL)" target = "_blank" class = "link-Text" > @Html.DisplayFor(modelItem => item.ProjectName) </a>
}
 </div> 
 <hr/>




@*

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@